table, td {
  border: 1px solid black;
}

td {
  display: inline-block;
  width: 200px;
  height: 200px;
}

#winnerDisplay {
  display: inline-block;
  width: 200px;
  height: 20px;
}

.hidden {
  visibility: hidden;
}